{% extends 'base.html' %}
{% block title %}Вход — BookShop{% endblock %}
{% block content %}
<h1>Вход</h1>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flashes">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
      <br/>
    </div>
  {% endif %}
{% endwith %}
<form class="form" action="{{ url_for('main.login') }}" method="post">
  <label>Email <input type="email" name="email" required></label>
  <label>Пароль <input type="password" name="password" required></label>
  <button class="btn-primary">Войти</button>
</form>
{% endblock %}
